

.main-Footer{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;

    /* background-color: aqua; */
}






.mfContact{
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    height: 100%;

    background-color: white;

    /* background-color: rgb(175, 125, 221); */
}
.main-Footer.active .mfContact{
    background-color: rgb(10, 10, 10);
    transition: background-color 1s ease-in-out .5s;
}



.mfcBorder{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;

    background-color: black;
}


.mfcContainer{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    /* ------------------------------------------------ */
    mix-blend-mode: difference;
    color: white;
}
.mfcHome-Address{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.33%;

    display: flex;
    align-items: center;
    gap: 3%;
    
    /* background-color: red; */
}
.mfcHome-Address > span{
    font-size: 19px;
    font-weight: 200;
}
.mfcHome-Address > span > div:nth-child(2){
    font-weight: 400;
}
.fi-rs-map-marker-home{
    position: relative;
    top: 6px;
    font-size: 40px;
}


.mfcContact-Num{
    position: absolute;
    top: 33.33%;
    left: 0;
    width: 100%;
    height: 33.33%;

    display: flex;
    align-items: center;
    gap: 3%;

    /* background-color: brown; */
}
.mfcContact-Num > span{
    font-size: 18px;
    font-weight: 400;
}
.fi-rs-phone-call{
    position: relative;
    top: 5px;
    padding: 4px;
    font-size: 30px;
}


.mfcEmail-Address{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33.33%;

    display: flex;
    align-items: center;
    gap: 3%;

    /* background-color: blueviolet; */
}
.mfcEmail-Address > a{
    font-size: 18px;
    font-weight: 400;
}
.fi-rs-envelope{
    position: relative;
    top: 5px;
    padding: 4px;
    font-size: 30px;
}














.mfDescription{
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;

    background-color: white;
}
.main-Footer.active .mfDescription{
    background-color: rgb(10, 10, 10);
    transition: background-color 1s ease-in-out .5s;
}



.mfdBorder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    /* background-color: white; */
}
.mfdBorder > .mfdbTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;

    background-color: black;
}

.mfdBorder > .mfdbLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 0;

    /* ------------------------------------------------ */
    mix-blend-mode: difference;
    background-color: white;
}
.main-Footer.active .mfdBorder .mfdbLeft{
    height: 100%;
    transition: height 1s;
}






.mfdContainer{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;

    /* ------------------------------------------------ */
    mix-blend-mode: difference;
    color: white;
}



.mfdTitle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;

    /* background-color: aquamarine; */
}
.mfdTitle > h2{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;

}
.mfdTitle > h2 > span:nth-child(1){
    font-weight: 400;
}
.mfdTitle > h2 > span:nth-child(2){
    font-weight: 200;
}


.mfdSubTitle{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;

    /* background-color: blue; */
}
.mfdSubTitle > p{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
}


.mfdSocials{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;

    /* background-color: brown; */
}
.mfdSocials > .so{
    position: absolute;
    transform: translate(0, 25%);
    bottom: 0;
    
    font-size: 60px;
    color: inherit;
}
.mfdSocials > .facebook{
    left: 0;
}
.mfdSocials > .instagram{
    left: 80px;
}
.mfdSocials > .github{
    left: 160px;
}
.mfdSocials > .linkedin{
    left: 240px;
}



