
/* z-index starting point: 5 */

.navArea{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    
    /* background-color: violet; */
}

.navBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
    pointer-events: all;

    background-color: red;
}




/* --------------------------- */
.navTitle{
    position: absolute;
    top: 10%;
    left: 50px;
    width: 63px;
    height: 80%;
    font-size: 30px;
    font-weight: 200;

    display: flex;
    align-items: center;

    background-color: blue;
}
.navTitle:hover{
    width: 254px;
}


.navTitle .cover{
    position: absolute;
    top: 0;
    left: -92px;
    width: 92px;
    height: 100%;
    z-index: 9;

    background-color: red;
}
.navTitle > .U-{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 9;

    font-weight: 400;

    background-color: red;
}
.navTitle > .-ntitled{
    position: absolute;
    top: 0;
    /* left: 20px; */
    left: -92px;
    width: 92px;
    height: 100%;
    z-index: 8;

    background-color: red;
}
.navTitle:hover > .-ntitled{
    /* left: -92px; */
    left: 20px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .-ntitled{
    /* left: 20px; */
    left: -92px;
    transition: left .5s;
}



.navTitle > .cover-art{
    position: absolute;
    top: 0;
    /* left: 91px; */
    left: -1px;
    width: 21px;
    height: 100%;
    z-index: 7;

    background-color: red;
}
.navTitle:hover > .cover-art{
    /* left: -1px; */
    left: 91px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .cover-art{
    /* left: 91px; */
    left: -1px;
    transition: left .5s;
}

.navTitle > .A-{
    position: absolute;
    top: 0;
    /* left: 112px; */
    left: 20px;
    width: 19px;
    height: 100%;
    z-index: 7;

    font-weight: 400;

    background-color: red;
}
.navTitle:hover > .A-{
    /* left: 20px; */
    left: 112px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .A-{
    /* left: 112px; */
    left: 20px;
    transition: left .5s;
}

.navTitle > .-rt{
    position: absolute;
    top: 0;
    /* left: 131px; */
    left: -1px;
    width: 21px;
    height: 100%;
    z-index: 6;

    background-color: red;
}
.navTitle:hover > .-rt{
    /* left: -1px; */
    left: 131px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .-rt{
    /* left: 131px; */
    left: -1px;
    transition: left .5s;
}





.navTitle > .cover-gallery{
    position: absolute;
    top: 0;
    /* left: 74px; */
    left: -39px;
    width: 78px;
    height: 100%;
    z-index: 5;

    background-color: red;
}
.navTitle:hover > .cover-gallery{
    /* left: -39px; */
    left: 74px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .cover-gallery{
    /* left: 74px; */
    left: -39px;
    transition: left .5s;
}

.navTitle > .G-{
    position: absolute;
    top: 0;
    /* left: 152px; */
    left: 39px;
    width: 24px;
    height: 100%;
    z-index: 5;

    font-weight: 400;

    background-color: red;
}
.navTitle:hover > .G-{
    /* left: 39px; */
    left: 152px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .G-{
    /* left: 152px; */
    left: 39px;
    transition: left .5s;
}

.navTitle > .-allery{
    position: absolute;
    top: 0;
    /* left: 176px; */
    left: -39px;
    width: 78px;
    height: 100%;
    z-index: 4;
    
    background-color: red;
}
.navTitle:hover > .-allery{
    /* left: -39px; */
    left: 176px;
    transition: left .6s ease-in-out .1s;
}
.navTitle:not(:hover) > .-allery{
    /* left: 176px; */
    left: -39px;
    transition: left .5s;
}















.navCategoryContainer{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;

    background-color: aqua;
}





/* ---------------------------------------------------------------- */
.navCategoryBackground{
    position: absolute;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;

    background-color: blue;
    transition: right .5s;
}
.navCategoryBackground.active{
    right: 0;
}
/* ---------------------------------------------------------------- */





.navCategory{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: blueviolet;
}
.navButton{
    position: relative;
    
    background-color: brown;
    cursor: pointer;
}

.navButton > p{
    font-size: 17px;
    font-weight: 200;
}


.navcExplore > .underlineLeft{
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 1px;
    transition: width .5s;

    background-color: black;
}
.navcExplore > .underlineRight{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    transition: width .5s;

    background-color: black;
}
.navcExplore:hover > .underlineLeft,
.navcExplore:hover > .underlineRight{
    width: 50%;
}
.navcExplore.active > .underlineLeft,
.navcExplore.active > .underlineRight{
    width: 50%;
}

.navcAbout > .underlineLeft{
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 1px;
    transition: width .5s;

    background-color: black;
}
.navcAbout > .underlineRight{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    transition: width .5s;

    background-color: black;
}
.navcAbout:hover > .underlineLeft,
.navcAbout:hover > .underlineRight{
    width: 50%;
}
.navcAbout.active > .underlineLeft,
.navcAbout.active > .underlineRight{
    width: 50%;
}







/* ----------------------- Bar Negative ----------------------- */
.navBarNegative{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: none;
    pointer-events: none;

    background-color: rgba(255, 255, 0, 0);
    transition: background-color .5s, right .5s, width .5s;
}
.navBarNegative.active{
    cursor: pointer;
    pointer-events: all;
    right: 500px;
    width: calc(100% - 500px);
    background-color: rgba(255, 255, 0, .7);
}















/* ----------------------- Nav Info ----------------------- */

.navInfo{
    position: absolute;
    top: 50px;
    right: -500px;
    width: 500px;
    height: calc(100% - 50px);
    transition: right .5s;
    pointer-events: all;

    background-color: blue;
}
.navInfo.active{
    right: 0px;
}


.navInfoNegative{
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: calc(100% - 10px);
    cursor: none;
    pointer-events: none;

    background-color: rgba(255, 255, 0, 0);
    transition: background-color .5s, right .5s, width .5s;
}
.navInfoNegative.active{
    cursor: pointer;
    pointer-events: all;
    width: calc(100% - 500px);
    right: 500px;
    background-color: rgba(255, 255, 0, .7);
}



.naviList{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 40%;

    background-color: blueviolet;
}


.naviList .exploredUnorderedList{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    list-style: none;

    /* background-color: rgb(91, 57, 57); */
}
.naviList .exploredUnorderedList .exploredLi{
    position: relative;
    top: 25px;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    transition: .5s;
    z-index: 5;
    /* pointer-events: none; */
    
    background-color: red;
}
.naviList .exploredUnorderedList .exploredLi.active{
    top: 0;
    opacity: 1;
    z-index: 6;
    /* pointer-events: all; */
}

.naviList .aboutUnorderedList{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    list-style: none;
}
.naviList .aboutUnorderedList .aboutLi{
    position: relative;
    top: 25px;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    transition: .5s;
    z-index: 5;
    /* pointer-events: none; */

    background-color: red;
}
.naviList .aboutUnorderedList .aboutLi.active{
    top: 0;
    opacity: 1;
    z-index: 6;
    /* pointer-events: all; */
}


.naviList .exploredUnorderedList li a p,
.naviList .aboutUnorderedList li a p{
    font-size: 20px;
    font-weight: 200;
    color: black;
    text-decoration: none;
}

