
/* z-index starting point: 5 */

.navArea{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    
    /* background-color: violet; */
}
.navArea.intro{
    opacity: 1;
}

.navBar{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
    pointer-events: all;

    background-color: rgb(10, 10, 10);
    transition: background-color 1.5s;
}
.navArea.active > .navBar{
    background-color: white;
}




/* --------------------------- */
.navTitle{
    position: absolute;
    top: 10%;
    width: 63px;
    height: 80%;
    font-size: 30px;
    font-weight: 200;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    background-color: inherit;
    transition: left .3s, font-size .3s;
}
.navTitle:hover{
    width: 254px;
}
@media screen and (min-width: 850px) {
    .navTitle{
        left: 95px;
    }
}
@media screen and (max-width: 849px) {
    .navTitle{
        left: 50px;
    }
}
@media screen and (min-width: 400px) {
    .navTitle{
        font-size: 30px;
    }
}
@media (max-width: 399px) {
    .navTitle{
        left: 30px;
        font-size: 20px;
    }
}



.navTitle .cover{ 
    position: absolute;
    top: 0;
    left: -92px;
    width: 92px;
    height: 100%;
    z-index: 9;

    background-color: rgb(10, 10, 10);
    transition: background-color 1.5s;
}
.navArea.active .navTitle .cover{
    background-color: white;
}
.navTitle > .U-{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    /* top: 0; */
    left: 0;
    /* width: 20px; */
    height: 100%;
    z-index: 9;

    font-weight: 400;
    color: white;

    background-color: rgb(10, 10, 10);
    transition: background-color 1.5s, color 1.5s;
}
@media screen and (min-width: 400px) {
    .navTitle > .U-{
        top: 0;
        width: 20px;
    }
}
@media (max-width: 399px) {
    .navTitle > .U-{
        top: 15%;
        width: 13.5px;
    }
}
.navArea.active .navTitle .U-{
    background-color: white;
    color: black;
}
.navTitle > .-ntitled{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    /* top: 0; */
    /* left: -92px; */
    /* width: 92px; */
    height: 100%;
    z-index: 8;
    color: white;
    opacity: 0;

    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .-ntitled{
    color: black;
    background-color: white;
}
.navTitle:hover > .-ntitled{
    /* left: -92px; */
    /* left: 20px; */
    opacity: 1;
    transition: left .6s ease-in-out .1s, background-color 1.5s, color 1.5s, opacity 1s;
}
.navTitle:not(:hover) > .-ntitled{
    /* left: 20px; */
    /* left: -92px; */
    opacity: 0;
    transition: left .5s, background-color 1.5s, color 1.5s, opacity 1s;
}
@media screen and (min-width: 400px) {
    .navTitle > .-ntitled{
        top: 0;
        width: 92px;
    }
    .navTitle:hover > .-ntitled{
        left: 20px;
    }
    .navTitle:not(:hover) > .-ntitled{
        left: -92px;
    }
    .navTitle .cover{
        left: -92px;
        width: 92px;
    }
}
@media (max-width: 399px) {
    .navTitle > .-ntitled{
        top: 15%;
        width: 60.7px;
    }
    .navTitle:hover > .-ntitled{
        left: 13.5px;
    }
    .navTitle:not(:hover) > .-ntitled{
        left: -60.7px;
    }
    .navTitle .cover{
        left: -60.7px;
        width: 60.7px;
    }
}




.navTitle > .cover-art{
    position: absolute;
    top: 0;
    /* left: -1px; */
    /* width: 21px; */
    height: 100%;
    z-index: 7;

    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .cover-art{
    background-color: white;
}
.navTitle:hover > .cover-art{
    /* left: 91px; */
    transition: left .6s ease-in-out .1s, background-color 1.5s;
}
.navTitle:not(:hover) > .cover-art{
    /* left: -1px; */
    transition: left .5s, background-color 1.5s;
}
@media screen and (min-width: 400px) {
    .navTitle > .cover-art{
        width: 21px;
    }
    .navTitle:hover > .cover-art{
        left: 91px;
    }
    .navTitle:not(:hover) > .cover-art{
        left: -1px;
    }
}
@media (max-width: 399px) {
    .navTitle > .cover-art{
        width: 13.95px;
    }
    .navTitle:hover > .cover-art{
        left: 60.25px;
    }
    .navTitle:not(:hover) > .cover-art{
        left: -0.45px;
    }
}


.navTitle > .A-{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    /* top: 0; */
    /* width: 19px; */
    height: 100%;
    z-index: 7;
    color: white;

    font-weight: 400;

    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .A-{
    color: black;
    background-color: white;
}
.navTitle:hover > .A-{
    /* left: 112px; */
    transition: left .6s ease-in-out .1s, background-color 1.5s, color 1.5s;
}
.navTitle:not(:hover) > .A-{
    /* left: 20px; */
    transition: left .5s, background-color 1.5s, color 1.5s;
}
@media screen and (min-width: 400px) {
    .navTitle > .A-{
        top: 0;
        width: 19px;
    }
    .navTitle:hover > .A-{
        left: 112px;
    }
    .navTitle:not(:hover) > .A-{
        left: 20px;
    }
}
@media (max-width: 399px) {
    .navTitle > .A-{
        top: 15%;
        width: 13.48px;
    }
    .navTitle:hover > .A-{
        left: 74.2px;
    }
    .navTitle:not(:hover) > .A-{
        left: 13.5px;
    }
}


.navTitle > .-rt{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    /* top: 0; */
    /* left: -1px; */
    /* width: 21px; */
    height: 100%;
    z-index: 6;
    color: white;
    opacity: 0;

    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .-rt{
    color: black;
    background-color: white;
}
.navTitle:hover > .-rt{
    /* left: 131px; */
    opacity: 1;
    transition: left .6s ease-in-out .1s, background-color 1.5s, color 1.5s, opacity 1s;
}
.navTitle:not(:hover) > .-rt{
    /* left: -1px; */
    opacity: 0;
    transition: left .5s, background-color 1.5s, color 1.5s, opacity 1s;
}
@media screen and (min-width: 400px) {
    .navTitle > .-rt{
        top: 0;
        width: 21px;
    }
    .navTitle:hover > .-rt{
        left: 131px;
    }
    .navTitle:not(:hover) > .-rt{
        left: -1px;
    }
}
@media (max-width: 399px) {
    .navTitle > .-rt{
        top: 15%;
        width: 13.95px;
    }
    .navTitle:hover > .-rt{
        left: 87.68px;
    }
    .navTitle:not(:hover) > .-rt{
        left: -0.45px;
    }
}





.navTitle > .cover-gallery{
    position: absolute;
    top: 0;
    /* left: -39px; */
    /* width: 78px; */
    height: 100%;
    z-index: 5;

    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .cover-gallery{
    background-color: white;
}
.navTitle:hover > .cover-gallery{
    /* left: 74px; */
    transition: left .6s ease-in-out .1s, background-color 1.5s;
}
.navTitle:not(:hover) > .cover-gallery{
    left: -39px;
    transition: left .5s, background-color 1.5s;
}
@media screen and (min-width: 400px) {
    .navTitle > .cover-gallery{
        width: 78px;
    }
    .navTitle:hover > .cover-gallery{
        left: 74px;
    }
    .navTitle:not(:hover) > .cover-gallery{
        left: -39px;
    }
}
@media (max-width: 399px) {
    .navTitle > .cover-gallery{
        width: 51.84px;
    }
    .navTitle:hover > .cover-gallery{
        left: 49.79px;
    }
    .navTitle:not(:hover) > .cover-gallery{
        left: -24.86px;
    }
}



.navTitle > .G-{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    /* top: 0; */
    /* left: 39px; */
    /* width: 24px; */
    height: 100%;
    z-index: 5;
    color: white;

    font-weight: 400;

    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .G-{
    color: black;
    background-color: white;
}
.navTitle:hover > .G-{
    /* left: 152px; */
    transition: left .6s ease-in-out .1s, background-color 1.5s, color 1.5s;
}
.navTitle:not(:hover) > .G-{
    /* left: 39px; */
    transition: left .5s, background-color 1.5s, color 1.5s;
}
@media screen and (min-width: 400px) {
    .navTitle > .G-{
        top: 0;
        width: 24px;
    }
    .navTitle:hover > .G-{
        left: 152px;
    }
    .navTitle:not(:hover) > .G-{
        left: 39px;
    }
}
@media (max-width: 399px) {
    .navTitle > .G-{
        top: 15%;
        width: 15.56px;
    }
    .navTitle:hover > .G-{
        left: 101.63px;
    }
    .navTitle:not(:hover) > .G-{
        left: 26.98px;
    }
}

.navTitle > .-allery{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    /* top: 0; */
    /* left: -39px; */
    /* width: 78px; */
    height: 100%;
    z-index: 4;
    color: white;
    opacity: 0;
    
    background-color: rgb(10, 10, 10);
}
.navArea.active .navTitle .-allery{
    color: black;
    background-color: white;
}
.navTitle:hover > .-allery{
    /* left: 176px; */
    opacity: 1;
    transition: left .6s ease-in-out .1s, background-color 1.5s, color 1.5s, opacity 1s;
}
.navTitle:not(:hover) > .-allery{
    /* left: -39px; */
    opacity: 0;
    transition: left .5s, background-color 1.5s, color 1.5s, opacity 1s;
}
@media screen and (min-width: 400px) {
    .navTitle > .-allery{
        top: 0;
        width: 78px;
    }
    .navTitle:hover > .-allery{
        left: 176px;
    }
    .navTitle:not(:hover) > .-allery{
        left: -39px;
    }
}
@media (max-width: 399px) {
    .navTitle > .-allery{
        top: 15%;
        width: 51.84px;
    }
    .navTitle:hover > .-allery{
        left: 117.19px;
    }
    .navTitle:not(:hover) > .-allery{
        left: -24.86px;
    }
}











:root{
    --app-nawidth: 100%;
}



.navCategoryContainer{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    
    height: 100%;
    z-index: 3;

    background-color: rgb(10, 10, 10);
    /* background-color: red; */
    transition: width .5s, z-index .5s, background-color 1.5s, right .5s;
}
.navArea.active .navCategoryContainer{
    background-color: white;
}
@media screen and (min-width: 800px) {
    .navCategoryContainer{
        right: 0;
    }
}
@media (max-width: 799px) {
    .navCategoryContainer{
        right: -500px;
    }
}
@media screen and (min-width: 800px) {
    .navCategoryContainer.active{
        z-index: 12;
        width: 500px;
        right: 0;
    }
}
@media (max-width: 799px) {
    .navCategoryContainer.active{
        z-index: 12;
        width: var(--app-nawidth);
        right: 0;
    }
}





/* ---------------------------------------------------------------- */
.navCategoryBackground{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 0;
    /* right: -800px; */
    /* width: 800px; */
    height: 100%;
    z-index: 11;

    background-color: rgb(10, 10, 10);
    /* background-color: red; */
    transition: right .5s, background-color 1.5s;
}
.navArea.active .navCategoryBackground{
    background-color: white;
}
.navCategoryBackground.active{
    right: 0;
}
@media screen and (min-width: 800px) {
    .navCategoryBackground{
        right: -500px;
        width: 500px;
    }
}
@media (max-width: 799px) {
    .navCategoryBackground{
        right: calc(var(--app-nawidth) * -1);
        width: var(--app-nawidth);
    }
}

/* ---------------------------------------------------------------- */





.navCategory{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
    z-index: 13;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navButton{
    position: relative;
    cursor: pointer;
}

.navButton > p{ /* ------------------------------------- beginningEnd ------------------------------------- */
    font-size: 15px;
    font-weight: 200;
    color: white;
    transition: color 1.5s;
}
.navArea.active .navButton p{
    color: black;
}


.navcExplore > .underlineLeft{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 1px;

    background-color: white;
    z-index: 13;
    transition: width .2s, background-color 1.5s;
}
.navcExplore > .underlineRight{
    /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;

    background-color: white;
    transition: width .2s, background-color 1.5s;
}
.navArea.active .navcExplore .underlineLeft,
.navArea.active .navcExplore .underlineRight{
    background-color: black;
}
.navcExplore:hover > .underlineLeft,
.navcExplore:hover > .underlineRight{
    width: 50%;
}
.navcExplore.active > .underlineLeft,
.navcExplore.active > .underlineRight{
    width: 50%;
}

.navcAbout > .underlineLeft{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 1px;

    background-color: white;
    transition: width .2s, background-color 1.5s;
}
.navcAbout > .underlineRight{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;

    background-color: white;
    transition: width .2s, background-color 1.5s;
}
.navArea.active .navcAbout .underlineLeft,
.navArea.active .navcAbout .underlineRight{
    background-color: black;
}
.navcAbout:hover > .underlineLeft,
.navcAbout:hover > .underlineRight{
    width: 50%;
}
.navcAbout.active > .underlineLeft,
.navcAbout.active > .underlineRight{
    width: 50%;
}

.navceExit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
    pointer-events: none;
    /* background-color: red; */
}
.navceExit.active{
    pointer-events: all;
}

.navcaExit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
    pointer-events: none;
}
.navcaExit.active{
    pointer-events: all;
}









.navXButtonArea{
    position: absolute;
    top: 0;
    right: 35px;
    width: 50px;
    height: 100%;
    z-index: 2;
    cursor: pointer;

    background-color: rgb(10, 10, 10);
    transition: background-color 1.5s;
}
.navArea.active .navXButtonArea{
    background-color: white;
}
.navXButtonContainer{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 50%;

    /* background-color: blue; */
}

.navXBarTop{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 3px;
    border-radius: 5px;

    background-color: white;
    transition: background-color 1.5s, width .2s;
}
.navXBarMid{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
    width: 50%;
    height: 3px;
    border-radius: 5px;

    background-color: white;
    transition: background-color 1.5s, width .1s;
}
.navXBarBottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 3px;
    border-radius: 5px;

    background-color: white;
    transition: background-color 1.5s, width .2s;
}
.navArea.active .navXBarTop,
.navArea.active .navXBarMid,
.navArea.active .navXBarBottom{
    background-color: rgb(10, 10, 10);
}
.navXButtonArea:hover .navXBarTop,
.navXButtonArea:hover .navXBarMid,
.navXButtonArea:hover .navXBarBottom{
    width: 100%;
}











/* ----------------------- Bar Negative ----------------------- */
.navBarNegative{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
    cursor: none;
    pointer-events: none;

    background-color: rgba(255, 255, 255, 0);
    transition: background-color .5s, right .5s, width .5s;
}
.navArea.active .navBarNegative{
    background-color: rgba(0, 0, 0, 0);
}
.navBarNegative.active{ /* ------------------------------------- beginningEnd ------------------------------------- */
    cursor: pointer;
    pointer-events: all;
    /* right: 500px; */
    /* width: calc(100% - 500px); */
    background-color: rgba(255, 255, 255, .7);
}
.navArea.active .navBarNegative.active{
    background-color: rgba(0, 0, 0, .7);
}
@media (max-width: 799px) {
    .navBarNegative.active{
        width: calc(100% - var(--app-nawidth));
        right: var(--app-nawidth);
    }
}
@media screen and (min-width: 800px) {
    .navBarNegative.active{
        width: calc(100% - 500px);
        right: 500px;
    }
}

















/* ----------------------- Nav Info ----------------------- */

.navInfo{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 50px;
    /* right: -500px; */
    /* width: 500px; */
    height: calc(100% - 50px);
    pointer-events: all;

    background-color: rgb(10, 10, 10);
    transition: right .5s, width .5s, background-color 1.5s;
}
.navArea.active .navInfo{
    background-color: white;
}
.navInfo.active{
    right: 0px;
}
@media screen and (min-width: 800px) {
    .navInfo{
        right: -500px;
        width: 500px;
    }
}
@media (max-width: 799px) {
    .navInfo{
        right: calc(var(--app-nawidth) * -1);
        width: var(--app-nawidth);
    }
}


.navInfoNegative{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: calc(100% - 10px);
    cursor: none;
    pointer-events: none;

    background-color: rgba(255, 255, 255, 0);
    transition: background-color .5s, right .5s, width .5s;
}
.navArea.active .navInfoNegative{
    background-color: rgba(0, 0, 0, 0);
}
.navInfoNegative.active{ /* ------------------------------------- beginningEnd ------------------------------------- */
    cursor: pointer;
    pointer-events: all;
    /* width: calc(100% - 500px); */
    /* right: 500px; */
    background-color: rgba(255, 255, 255, .7);
}
.navArea.active .navInfoNegative.active{
    background-color: rgba(0, 0, 0, .7);
}
@media (max-width: 799px) {
    .navInfoNegative.active{
        width: calc(100% - var(--app-nawidth));
        right: var(--app-nawidth);
    }
}
@media screen and (min-width: 800px) {
    .navInfoNegative.active{
        width: calc(100% - 500px);
        right: 500px;
    }
}



.naviList{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 40%;

    /* background-color: blueviolet; */
}
.naviBorderTop{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;

    background-color: white;
    transition: background-color 1.5s;
}
.naviBorderRight{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;

    background-color: white;
    transition: background-color 1.5s;
}
.naviBorderBottom{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;

    background-color: white;
    transition: background-color 1.5s;
}
.naviBorderLeft{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;

    background-color: white;
    transition: background-color 1.5s;
}
.navArea.active .naviBorderTop,
.navArea.active .naviBorderRight,
.navArea.active .naviBorderBottom,
.navArea.active .naviBorderLeft{
    background-color: black;
}




.naviList .exploredUnorderedList{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    list-style: none;

    /* background-color: rgb(91, 57, 57); */
}
.naviList .exploredUnorderedList .exploredLi{
    position: relative;
    top: 25px;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    transition: .5s;
    z-index: 5;
    /* pointer-events: none; */
    
    /* background-color: red; */
}
.naviList .exploredUnorderedList .exploredLi.active{
    top: 0;
    opacity: 1;
    z-index: 6;
    /* pointer-events: all; */
}



.naviList .aboutUnorderedList{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    list-style: none;
}
.naviList .aboutUnorderedList .aboutLi{
    position: relative;
    top: 25px;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    transition: .5s;
    z-index: 5;
    /* pointer-events: none; */

    /* background-color: red; */
}
.naviList .aboutUnorderedList .aboutLi.active{
    top: 0;
    opacity: 1;
    z-index: 6;
    /* pointer-events: all; */
}


/* ------------------------------------- beginningEnd ------------------------------------- */
.naviList .exploredUnorderedList .exploredLi p,
.naviList .aboutUnorderedList .aboutLi p{
    color: white;
    transition: color 1.5s;
}
.navArea.active .naviList .exploredUnorderedList .exploredLi p,
.navArea.active .naviList .aboutUnorderedList .aboutLi p{
    color: black;
}


.naviList .exploredUnorderedList li a p,
.naviList .aboutUnorderedList li a p{
    font-size: 20px;
    font-weight: 200;
    color: black;
    text-decoration: none;
}











/* ------------------------------------------ naviDivider ------------------------------------------ */



.naviDivider{ /* ------------------------------------- beginningEnd ------------------------------------- */
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 1px;

    background-color: white;
    transition: background-color 1.5s;
}
.navArea.active .naviDivider{
    background-color: black;
}