
@media (min-width: 200px) {

    .oldSketches{
        position: relative;
        /* background-color: rgb(69, 151, 106); */
        height: 70vh;
    }







    .osInformation{
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        opacity: 0;

        /* background-color: blue; */
    }
    .oldSketches.active .osInformation{
        opacity: 1;
        transition: opacity 2s ease-in-out .5s;
    }



    .osTitle{
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 10%;

        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: aqua; */
    }
    .osTitle > h3{
        font-size: 30px;
        font-weight: 200;
    }
    .osTitle > p{
        font-size: 15px;
        font-weight: 100;
        padding-right: 5px;
    }







    .osDescription{
        position: absolute;
        bottom: 15%;
        left: 10%;
        width: 180px;
        height: 69px;

        /* background-color: blueviolet; */
    }
    .osDescription > p{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        font-size: 15px;
        font-weight: 300;

        color: rgb(77, 77, 77);
    }
    .osDescription > p:nth-child(1){
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;

        font-size: 12px;
        font-weight: 100;
    }










    .osPageButton{
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        height: 10%;
    }
    .osPageButton > .button{
        position: absolute;
        top: 25%;
        left: 10%;
        width: 180px;
        height: 50%;
        border: black solid 1px;
        border-radius: 20px;
        color: inherit;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .osPageButton > .button > .cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        border-radius: 20px;

        background-color: rgb(51, 51, 51);
        transition: width .2s;
    }
    .osPageButton > .button:hover > .cover{
        width: 100%;
    }
    
    

    .osPageButton > .button > .title{
        font-size: 15px;
        font-weight: 100;
        word-spacing: 5px;
        color: black;
        transition: color .2s;
    }
    .osPageButton > .button:hover > .title{
        color: white;
    }


    .osPageButton > .button > .uit{
        font-size: 20px;
        font-weight: 100;
        transition: color .2s;
    }
    .osPageButton > .button:hover > .uit{
        color: white;
    }
    
    





    /* ------------------------------------ osBorder ------------------------------------ */




    .osBorder{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;

        pointer-events: none;
    }
    
    .osbRight{
        position: absolute;
        top: 0;
        left: 30%;
        width: 0;
        height: 1px;
        opacity: .5;

        background-color: black;
    }
    .oldSketches.active .osbRight{
        width: 70%;
        transition: width 2s;
    }
    
    .osbLeft{
        position: absolute;
        top: 0;
        right: 70%;
        width: 0;
        height: 1px;
        opacity: .5;

        background-color: black;
    }
    .oldSketches.active .osbLeft{
        width: 30%;
        transition: width 2s;
    }
    
    .osbMid{
        position: absolute;
        top: 0;
        left: 30%;
        width: 1px;
        height: 0;
        opacity: .5;

        background-color: black;
    }
    .oldSketches.active .osbMid{
        height: 100%;
        transition: height 2s;
    }
    





    /* ------------------------------------ csGallery ------------------------------------ */





    :root{
        --app-oswidth: 100%;
        --app-osheight: 100%;
    }
    

    .osGallery{
        position: absolute;
        top: 0;
        left: 30%;
        width: 70%;
        height: 100%;
        overflow: hidden;
        cursor: grab;

        /* background-color: red; */
    }
    
    
    .osgContent{
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        transition: .5s;
        will-change: transform;

        display: flex;

        /* background-color: blue; */
    }

    .osgSection{
        position: relative;
        width: var(--app-awwidth);
        height: var(--app-awheight);
        overflow: hidden;

        flex: none;
        transition: 1s;

        /* background-color: aqua; */
    }

    .osgImg0,
    .osgImg1,
    .osgImg2,
    .osgImg3{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 0;

        background-size: cover;
        background-position: center;
        transform: scale(1);
        transition: .5s;
        cursor: pointer;
        pointer-events: none; 
        
        background-color: gray;
    }

    .osgImg0{
        background-image: url(./img02/3.png);
    }
    .oldSketches.active .osgImg0{
        height: 90%;
        transition: height 1s ease-in-out 1s;
    }

    .osgImg1{
        background-image: url(./img02/sketches/7.jpg);
    }
    .oldSketches.active .osgImg1{
        height: 90%;
        transition: height 1s ease-in-out 1.5s;
    }

    .osgImg2{
        background-image: url(./img02/sketches/8.jpg);
    }
    .oldSketches.active .osgImg2{
        height: 90%;
        transition: height 1s ease-in-out 2s;
    }

    .osgImg3{
        background-image: url(./img02/sketches/12.jpg);
    }
    .oldSketches.active .osgImg3{
        height: 90%;
        transition: height 1s ease-in-out 2.5s;
    }
    
}

