@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.overallContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}




.currentStudies{
    position: relative;
    background-color: violet;
    height: 50vh;
}

.artWorks{
    position: relative;
    background-color: rgb(83, 54, 185);
    height: 50vh;
}

.oldSketches{
    position: relative;
    background-color: aqua;
    height: 50vh;
}